/*--- Main ---*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");

body {
  background-image: linear-gradient(234deg, #18182e 0%, #2d2a54 50%, #18182e 100%);
  color: white;
  font-family: "Roboto Slab", serif;
}

.bg-light {
  --bs-bg-opacity: 0.9;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255 255 255 / 90%)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-color: rgb(255 255 255 / 90%);
  --bs-navbar-toggler-focus-width: 0;
  --bs-navbar-brand-color: none;
  --bs-navbar-brand-hover-color: none;
}

.navbar-toggler {
  border: 0;
  outline: 0;
}

.btn {
  background-color: rgb(0, 0, 0, 0);
}

.header-h {
  transition: all 0.5s;
  color: #fff !important;
  fill: #fff;
}

.header-h:hover {
  color: #ffae00 !important;
  fill: #ffae00;
}


.about-height {
  height: 100vh;
}