/*--- Main ---*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");

:root {
  --bg-color:#282832;
  --accent-color:#5d445c;
  --primary-color:#ffb666;
  --secondary-color:#df8171;
}

body {
  background-image: linear-gradient(270deg, var(--bg-color) 0%, var(--accent-color) 50%, var(--bg-color) 100%);
  color: white;
  font-family: "Roboto Slab", serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.bg-light {
  --bs-bg-opacity: 0.9;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255 255 255 / 90%)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-color: rgb(255 255 255 / 90%);
  --bs-navbar-toggler-focus-width: 0;
  --bs-navbar-brand-color: none;
  --bs-navbar-brand-hover-color: none;
}

.navbar-toggler {
  border: 0;
  outline: 0;
}

.btn {
  background-color: rgb(0, 0, 0, 0);
}

.header-h {
  transition: all 0.5s;
  color: #fff !important;
  fill: #fff;
}

.header-h:hover {
  color: var(--primary-color) !important;
  fill: var(--primary-color);
}


.about-height {
  height: 100vh;
}