/*--- Scripts ---*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");

body {
	font-family: 'Roboto Slab', serif;
	display: flex;
	justify-content: center;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	background-image: linear-gradient(270deg, #18182e 0%, #2d2a54 50%, #18182e 100%);
	background-size: 100%;
}

h1 {
	text-align: center;
	padding-bottom: 2rem;
}

.page {
	background-color: white;
	padding: 10rem;
	max-width: 70vw;
    box-shadow: 0px 0px 12px 0px #9f9f9f;
}

@media screen and (max-width: 1024px) {
	.page {
		max-width: 80vw;
		padding: 5rem;	
	}
}

@media screen and (max-width: 428px) {
	body {
		padding-top: 0;
		padding-bottom: 0;
	}

	.page {
		max-width: 100vw;	
		padding: 2rem;
	}
}