---
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
<div class="container py-4">
  <header class="pb-3 mb-4">
    <nav class="navbar navbar-expand-lg" aria-label="Navbar">
      <div class="container-xl justify-content-center">
        <a
          href="/"
          class="header-h d-flex align-items-center text-light text-decoration-none"
        >
          <svg
            id="SpacerTimes"
            data-name="SpacerTimes"
            xmlns="http://www.w3.org/2000/svg"
            width="72"
            height="64"
            class="me-0"viewBox="0 0 2000 2000">
            <path
              class="cls-1"
              d="M1640.32,50H359.68A109.69,109.69,0,0,0,250,159.68V1840.32A109.69,109.69,0,0,0,359.68,1950H1640.32A109.69,109.69,0,0,0,1750,1840.32V159.68A109.69,109.69,0,0,0,1640.32,50ZM783.59,1131.62a15,15,0,0,1-9.22,12.88l-88.46,36.7L666,1274.88a15,15,0,0,1-11,11.41,14.53,14.53,0,0,1-3.69.47,15,15,0,0,1-11.4-5.26l-62.24-72.79-95.25,10A15,15,0,0,1,468.07,1196l50-81.68-38.94-87.5a15,15,0,0,1,17.19-20.69l93.14,22.31,71.18-64.08a15,15,0,0,1,25,10l7.57,95.47,82.94,47.89A15,15,0,0,1,783.59,1131.62Zm490.14,347.15-76,131.35,65.14,137.05a15,15,0,0,1-16.68,21.11l-148.4-31.66-110.21,104.3a15,15,0,0,1-25.22-9.34l-15.75-150.91L813.4,1608.08a15,15,0,0,1,1.08-26.88l138.66-61.61L981,1370.43a15,15,0,0,1,25.9-7.27L1108.34,1476l150.47-19.6a15,15,0,0,1,14.92,22.38Zm85.85-531.87-43.58,20-8.2,47.27a15,15,0,0,1-25.8,7.61l-32.53-35.26L1202,993.38a15,15,0,0,1-15.21-22.19l23.47-41.83L1189.1,886.3A15,15,0,0,1,1205.5,865l47,9.4L1287,841a15,15,0,0,1,25.35,9l5.59,47.64,42.42,22.4a15,15,0,0,1-.73,26.89Zm96.83-230.08H403.85c-13.81,0-25-13.43-25-30s11.19-30,25-30H1456.41c13.81,0,25,13.43,25,30S1470.22,716.82,1456.41,716.82Zm82-164.9H403.85c-13.81,0-25-13.43-25-30s11.19-30,25-30H1538.46c13.81,0,25,13.43,25,30S1552.27,551.92,1538.46,551.92ZM1458.87,387H401.38c-12.44,0-22.53-13.43-22.53-30s10.09-30,22.53-30H1458.87c12.45,0,22.54,13.44,22.54,30S1471.32,387,1458.87,387Zm137.28-164.89H403.85c-13.81,0-25-13.43-25-30s11.19-30,25-30h1192.3c13.81,0,25,13.43,25,30S1610,222.13,1596.15,222.13Z"
            ></path>
          </svg>
          <span class="navbar-brand fw-bold fs-1">SpacerTimes</span>
        </a>
      </div>
    </nav>
  </header>

  <Banner name="I Know What It Takes To Fly: The Seas Song" desc="The sea is a dangerous place." link="https://youtu.be/noJ6WihOwGk" image="theseassong.webp" script="ikwittf-theseassong" />

  <div class="row align-items-md-stretch">
    <Card />
  </div>

  <footer class="pt-3 mt-4 text-light">
	<div class="row align-items-md-stretch">
	  <p class="col-md-8">SpacerTimes &copy; 2023</p>
	  <a class="btn btn-outline-dark col-md-2" type="button" href="button">Watch Something</a>
	  <a class="btn btn-outline-light col-md-2" type="button" href="about">About us</a>
	</div>
  </footer>
</div>
</Layout>